<header class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">
                    <span class="sr-only">(current)</span>
                    <i class="fa fa-home fa-2x"></i>
                </a>
                <a class="nav-item nav-link" href="novo-curso">Cadastrar curso</a>
                <a class="nav-item nav-link" href="lista-curso">Listar cursos</a>
                <a class="nav-item nav-link" href="nova-aula">Cadastrar aula</a>
                <a class="nav-item nav-link" href="lista-aula">Listar aulas</a>
            </div>
        </div>
    </nav>
</header>